#memorama .card{
    display: inline-block;
    width: 50px;
    text-align: center;
    margin: auto 25px;
}

#memorama{
    text-align: center;
    margin: 15px;
}

section{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
body{
    background-color: black;
    margin: 0;
}
body h1{
    text-align: center;
    color: white;
    background-color: #05190d;
    height: 50px;
}
footer{
    text-align: center;
    color:white;
    font-weight: bold;
}